<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/sortable-theme-bootstrap.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

    <title>Ken Griffey Fan Club</title>
</head>

<body>

    <h1>Ken Griffey Fan Club</h1>
    {{{content}}}

</body>
</html>
